{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Telecom Service</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Welcome to MiNi TeLeCoM Service</h1>   
{{ end }}
