{{ define "Menu" }}
<h4><a href="/">HOME</a> | <a href="/viewCustomers">View Customers</a> |  <a href="/viewPlans">View Plans</a> |  <a href="/search">Search Customers</a> | <a href="/plan">Plan Registration</a> | <a href="/registerPlan">Customer Subscription</a> | <a href="/searchExpiry">Search NOT ACTIVE Customer</a> | <a href="/expireSet">Set all expiry </a> | <a href="/refreshList">Refresh Customer Details</a> | <a href="/searchByDate">Search Customer By Expiration Date</a> </h4>
{{ end }}
